[Unit]
Description=Sway - Wayland window manager
Documentation=man:sway(5)
After=default.target graphical-session-pre.target
BindsTo=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/sway --unsupported-gpu
ExecStartPost=/bin/sh -c 'systemctl --user import-environment WAYLAND_DISPLAY SWAYSOCK'
Restart=on-failure
Slice=session.slice
Delegate=yes

# Environment variables for Wayland
Environment=XDG_SESSION_TYPE=wayland
Environment=MOZ_ENABLE_WAYLAND=1
Environment=QT_QPA_PLATFORM=wayland
Environment=SDL_VIDEODRIVER=wayland

[Install]
WantedBy=graphical-session.target

