{
  description = "Development Shell";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-26.05";
    coding-utilities-src = {
      url = "github:muralivnv/coding_utilities?rev=ee73c24a9c1b8da82b2b571d8ebfb7d5bb18455b";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    ghostty-src = { url = "https://github.com/pkgforge-dev/ghostty-appimage/releases/download/v1.3.1/Ghostty-1.3.1-x86_64.AppImage"; flake = false; };
  };

  outputs = { self, nixpkgs, coding-utilities-src, ghostty-src, ... }:
    let
      system = "x86_64-linux";
      pkgs = import nixpkgs { inherit system; };
      
      coding-utilities = coding-utilities-src.packages.${system}.default;

      ghostty = pkgs.stdenvNoCC.mkDerivation {
        pname = "ghostty";
        version = "1.3.1";
        src = ghostty-src;
        dontUnpack = true; 
        installPhase = ''
          mkdir -p $out/bin
          # Copy the raw AppImage directly to the bin folder
          cp $src $out/bin/ghostty
          chmod +x $out/bin/ghostty
        '';
      };

      flakeDir = "${self}";

      ## Wrap necessary libs so python and python packages works in isolation safely
      python3 = pkgs.python314.override {
        packageOverrides = pythonFinal: pythonPrev: {
          makeWrapper = pkgs.makeWrapper;
        };
      };
      nixLibs = pkgs.lib.makeLibraryPath [
        pkgs.stdenv.cc.cc.lib
        pkgs.libz
      ];
      wrappedPython = pkgs.runCommand "python-wrapped" { nativeBuildInputs = [pkgs.makeWrapper]; } ''
        mkdir -p $out/bin
        makeWrapper ${python3}/bin/python $out/bin/python --prefix LD_LIBRARY_PATH : "${nixLibs}"
      '';
      wrappedUv = pkgs.runCommand "uv-wrapped" { nativeBuildInputs = [ pkgs.makeWrapper ]; } ''
        mkdir -p $out/bin
        makeWrapper ${pkgs.uv}/bin/uv $out/bin/uv \
          --prefix LD_LIBRARY_PATH : "${nixLibs}"
      '';

    in {
      devShells.${system}.default = pkgs.mkShellNoCC {
        name = "devshell";
        buildInputs = with pkgs; [
          gitMinimal fzf bat zoxide starship pastel yazi-unwrapped tmux helix
          moreutils socat ghostty distrobox chezmoi
          coding-utilities wrappedPython wrappedUv sqlite

          # Inject machine-specific packages from chezmoi data
          {{- range .extra_nix_packages }}
          {{ . }}
          {{- end }}
        ];

        env = {
          UV_PYTHON_PREFERENCE = "only-system";
          UV_PYTHON_DOWNLOADS = "never";

          # IMPORTANT: We keep wrappedPython in buildInputs for interactive shell use, 
          # but UV_PYTHON *must* point to the raw, unwrapped store path here.
          # If uv sees a bash wrapper instead of the actual python binary, 
          # its cache validation fails and it reinstalls the venv on every run.
          UV_PYTHON = "${python3}/bin/python";
        };

        shellHook = ''
          source ${flakeDir}/fzf-bash-completion.sh
          source ${flakeDir}/bash_config.sh
        '';
      };
    };

}   
